.electricField{
    -fx-background-color: darkviolet;
}
.rightMenu{
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-border-color: #c57bff;
    -fx-border-radius: 12px;
    -fx-background-color: transparent;
    -fx-min-width:  100px;
    -fx-max-height: 200px;
}
.justInput{
    -fx-text-fill: white;
    -fx-max-width: 80px;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-radius: 2px;
}
.plast{
    -fx-pref-width: 5px;
    -fx-fill: darkviolet;
    -fx-effect: dropshadow(gaussian, #c57bff, 6, 1.0, 0, 0);
}


#chargeCombo {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 2px;
}

#chargeCombo .cell {
    -fx-background-color: darkviolet;
    -fx-text-fill: white;
}

.charge{
    -fx-scale-y: 1.0;
    -fx-scale-x: 1.0;

}
.charge:hover{
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
    -fx-blend-mode: hard-light;
}